Django
Pillow
python-decouple
django-crispy-forms
crispy-bootstrap5
whitenoise
gunicorn
django-debug-toolbar
python-dateutil
pytz
django-storages
boto3 # For S3 if needed
django-ratelimit
django-crispy-forms
crispy-bootstrap5
whitenoise
dj-database-url
psutil